<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mediassist">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/patient"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MediAssist">
        <activity
            android:name=".Patient_Symptom"
            android:exported="false" />
        <activity
            android:name=".Pharma_ForgotPassword"
            android:exported="false" />
        <activity
            android:name=".Patient_ForgotPassword"
            android:exported="false" />
        <activity
            android:name=".Forgot_Password"
            android:exported="false" />
        <activity
            android:name=".Pharmacy_Login_to_HomePage"
            android:exported="false" />
        <activity
            android:name=".MainActivity2"
            android:exported="false"
            android:label="@string/title_activity_main2"
            android:theme="@style/Theme.MediAssist.NoActionBar" />
        <activity
            android:name=".Doctor_Manu_toCreate_SickNote"
            android:exported="false" />
        <activity
            android:name=".Doctor_Manu_toCreate_Invoice"
            android:exported="false" />
        <activity
            android:name=".Pharmacy_View_Prescription"
            android:exported="false" />
        <activity
            android:name=".Pharmacy_menu"
            android:exported="false" />
        <activity
            android:name=".Pharmacy_Login"
            android:exported="false" />
        <activity
            android:name=".Pharmacy_Registration"
            android:exported="false" />
        <activity
            android:name=".Doctor_basic_Info"
            android:exported="false" />
        <activity
            android:name=".Patient_VideoCall"
            android:exported="false" />
        <activity
            android:name=".Splash_Screen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Doctor_Login_to_HomePage"
            android:exported="false" />
        <activity
            android:name=".Patient_Login_to_HomePage"
            android:exported="false" />
        <activity
            android:name=".Doctor_Videocall"
            android:exported="false" />
        <activity
            android:name=".Patient_Login"
            android:exported="false" />
        <activity
            android:name=".Patient_Registration"
            android:exported="false" />
        <activity
            android:name=".Doctor_Login"
            android:exported="false" />
        <activity
            android:name=".Doctor_Registration"
            android:exported="false" />
        <activity
            android:name=".Login_option"
            android:exported="true" />
        <activity
            android:name=".Patient_menu"
            android:exported="true" />
        <activity
            android:name=".Doctor_menu"
            android:exported="true" />
        <activity
            android:name=".Detail_Sicknote"
            android:exported="false" />
        <activity
            android:name=".View_Sicknote"
            android:exported="true" />
        <activity
            android:name=".Detail_Invoice"
            android:exported="false" />
        <activity
            android:name=".View_Invoice"
            android:exported="true" />
        <activity
            android:name=".Detail_Prescription"
            android:exported="false" />
        <activity
            android:name=".View_Prescription"
            android:exported="true" />
        <activity
            android:name=".Create_Sicknote"
            android:exported="true" />
        <activity
            android:name=".Create_Invoice"
            android:exported="true" />
        <activity
            android:name=".Create_Prescription"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true" />
        <activity
            android:name=".RealtimeDB.Login2"
            android:exported="false" />
        <activity
            android:name=".RealtimeDB.BookAppointment"
            android:exported="false" />
        <activity
            android:name=".Doctor.DoctorView"
            android:exported="false" />
        <activity
            android:name=".Doctor.Doctor"
            android:exported="false" />
        <activity
            android:name=".Specialization.Specialization"
            android:exported="false" />
    </application>

</manifest>